<h2 class="items_title">商品一覧</h2>
<div class="item_btn_area">
    <%= link_to new_admin_item_path do %>
   <i class="item_new_btn fa-solid fa-circle-plus"></i>
    <% end %>
</div>
<% if @keyword && @items.count == 0 %>
    <p>「<%= @keyword %>」 の検索結果は見つかりませんでした</p>
<% elsif @keyword %>
    <p>「<%= @keyword %>」 の検索結果はこちら</p>
<% end %>
<table class="items_table table">
    <thead>
        <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
        </tr>
    </thead>
    <tbody>
        <% @items.each do |item| %>
            <tr>
                <td><%= item.id %></td>
                <td><%= link_to item.name, admin_item_path(item) %></td>
                <td><%= item.tax_excluded_price %></td>
                <td><%= item.genre.name %></td>
                <% if item.is_sale %>
                    <td class="text-success">
                        販売中
                    </td>
                <% else %>
                    <td class="text-secondary">
                        販売停止中　
                    </td>
                <% end %>
                </tr>
        <% end %>
    </tbody>
</table>
