<h2 class="order_new_title">
  注文情報入力
</h2>
<%= render 'layouts/errors', obj: @order %>
<div class="order_form_div">
  <%= form_with model: @order, url: confim_orders_path do |f| %>
    <div class="form_group">
      <%= f.label :payment_method, '支払方法', class: 'font-bold'%>
      <div class="radio_btn_wrap">
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        
        <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card], {value: Order.payment_methods.key(0), style: "display: inline-block;"} %>
      </div>
      <div class="radio_btn_wrap">
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:transfer], {value: Order.payment_methods.key(1), style: "display: inline-block;"} %>
      </div>
    </div>
    <div class="form_group">
      <%= f.label :select_address, 'お届け先', class: 'font-bold' %>
      <div class="radio_btn_wrap">
        <%= f.radio_button :select_address, :my_address %>
        <%= f.label :select_address, 'ご自身の住所' , {value: :my_address, style: "display: inline-block;"}%>
        <p><%= "〒#{current_customer.postal_code} #{current_customer.address} #{current_customer.family_name + current_customer.first_name}" %></p>
      </div>
      <div class="radio_btn_wrap">
        <div class="content">
          <%= f.radio_button :select_address, :registered_address %>
          <%= f.label :select_address, '登録済みの住所から選択', {value: :registered_address, style: "display: inline-block;"} %>
        </div>
        <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
      </div>
      <div class="radio_btn_wrap">
        <%= f.radio_button :select_address, :new_address %>
        <%= f.label :select_address, '新しいお届け先', {value: :new_address, style: "display: inline-block;"} %>
        <div class="form_group row">
          <%= f.label :ship_to_postal_code, '郵便番号(ハイフンなし)', class: 'col-md-3' %>
          <%= f.text_field :ship_to_postal_code, :placeholder => '0000000', class: 'col-md-2' %>
        </div>
        <div class="form_group row">
          <%= f.label :ship_to_address, '住所', class: 'col-md-3' %>
          <%= f.text_field :ship_to_address, :placeholder => '東京都渋谷区代々木神園町0-0', class: 'col-md-4' %>
        </div>
        <div class="form_group row">
          <%= f.label :ship_to_name, '宛名', class: 'col-md-3' %>
          <%= f.text_field :ship_to_name, :placeholder => '令和道子', class: 'col-md-2' %>
        </div>
      </div>
    </div>
    <div class="order_submit">
      <%= f.submit '確認画面へ進む', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
