<h2 class="order_show_title">
  注文履歴詳細
</h2>
<table class="order_detail">
  <tr>
    <th>購入者</th>
    <td><%=link_to "#{@order.customer.family_name} #{@order.customer.first_name}", admin_orders_path(customer_id: @order.customer_id) %></td>
  </tr>
  <tr>
    <th>注文日</th>
    <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
  </tr>
  <tr>
    <th>配送先</th>
    <td><%= @order.address_display %></td>
  </tr>
  <tr>
    <th>支払方法</th>
    <td><%= Order.payment_methods_i18n[@order.payment_method] %></td>
  </tr>
  <tr>
    <th>注文ステータス</th>
    <td>
      <%= form_with model: @order, url: admin_order_path(@order) do |f| %>
      <div class="form_group">
        <%= f.select :order_status, Order.order_statuses.keys.map {|k| [I18n.t("enums.order.order_status.#{k}"), k]} %>
        <%= f.submit '更新', class: 'btn-update btn btn-success' %>
      </div>
      <% end %>
    </td>
  </tr>
</table>
<div class="wrap">
  <table class="table order_detail_table">
    <thead>
      <tr>
        <th>注文商品</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th>製作ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.with_tax_price %></td>
          <td><%= order_detail.amount %></td>
          <td><%= order_detail.subtotal.to_s(:delimited) %></td>
          <td>
            <%= form_with model: order_detail, url: admin_order_order_detail_path(@order, order_detail) do |f| %>
            <%= f.select :make_status, OrderDetail.make_statuses.keys.map{|k| [I18n.t("enums.order_detail.make_status.#{k}"), k]} %>
            <%= f.submit '更新', class: 'btn btn-success' %>
            
            <% end %>
          </td>
        </tr>
        <% @item_total_price += order_detail.subtotal %>
      <% end %>
    </tbody>
    
  </table>
  <table class='price_table'>
    <tr>
      <th>商品合計</th>
      <td><%= @item_total_price.to_s(:delimited) %>円</td>
    </tr>
    <tr>
      <th>送料</th>
      <td><%= @order.ship_fee %>円</td>
    </tr>
    <tr>
      <th>請求金額合計</th>
      <td><strong><%= @order.total_price.to_s(:delimited) %>円</strong></td>
    </tr>
  </table>
</div>