<div class="item_detail">
  <div class="item_detail_img_wrap">
    <%= image_tag @item.image, class: 'item_detail_img' %>
  </div>
  <div class="item_detail_text">
    <h3 class="item_detail_name">
      <%= @item.name %>
    </h3>
    <p class="item_detail_intro">
      <%= @item.introduction %>
    </p>
    <p class="item_detail_price">
      <strong>¥<%= @item.with_tax_price.to_s(:delimited) %></strong> (税込)
    </p>
    <p>
      <%= render 'layouts/errors', obj: @cart_item %>
    </p>
    <%= form_with model: @cart_item, url: cart_items_path do |f| %>
      <%= f.select :amount, *[1..10], { include_blank: "個数選択"} %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.submit 'カートに入れる', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>