<h2 class="address_edit_title">
  配送先編集
</h2>
<%= render 'layouts/errors', obj: @address %>

<div class="form_content">
  <%= form_with model: @address, url: address_path(@address) do |f| %>
    <div class="form_group row">
      <%= f.label :postal_code, '郵便番号(ハイフンなし)', class: 'col-md-3' %>
      <%= f.text_field :postal_code, :placeholder => '0000000', class: 'col-md-2' %>
    </div>
    <div class="form_group row">
      <%= f.label :address, '住所', class: 'col-md-3' %>
      <%= f.text_field :address, :placeholder => '東京都渋谷区代々木神園町0-0', class: 'col-md-4' %>
    </div>
    <div class="form_group row">
      <%= f.label :ship_to_name, '宛名', class: 'col-md-3' %>
      <%= f.text_field :ship_to_name, :placeholder => '令和道子', class: 'col-md-2' %>
    </div>
    <div class="submit-btn">
      <%= f.submit '変更内容を保存', class: 'btn btn-success' %>
    </div>
<% end %>